body {
    background: rgb(255, 255, 255);
}
nav {
    text-align: center;
    margin:30px ;
    background: #895ef8; margin: 0;
    
   
    }
    
    li{
        display: inline-block   ; text-align: center; margin-top: 20px; font-family: graffiti ;
    }
    a {
        position: relative;
        text-decoration: none;
        font-family: 'Poppins' ,sans-serif;
        color: #000000;
        font-size: 18px;
        letter-spacing: 0.5px;
        padding: 0 150px;
      }
      a:after {
        content: "";
        position: absolute;
        background-color: #000000;
        height: 3px;
        width: 10;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
      }
      a:hover {
        color: #ffffff;
      }
      a:hover:after{
        width: 10%;
      }
    

input {
    background: rgb(219, 186, 186);
}
textarea {
    background: rgb(219, 186, 186);
}
.letter{
    display: inline-block;
    font-size: 2em;
    transition:transform 0.3s ;
    }
    .letter:hover {
        transform: scale(1.2);
        color:rgb(178, 19, 19);
    }
    h1{
        text-align: center;
    }
    h2{
        background-color: rgb(178, 19, 19);
        text-align: center;
    }
    .container {
        display: flex;
        width: 100vw;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .circular {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        height: auto; 
        margin: 5px;
        border-radius: 15px;
        border: 1px solid black;
    }
    
    .container-right {
        display: flex;
        width: 48%; 
    }
    
    .box {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        height: auto;
        margin: 5px;
        border: 1px solid black;
        border-radius: 15px;
    }