body{
background-color: rgb(95, 60, 8);
p{
    text-decoration: underline;
    text-align: center;
    display: flex;
    align-items: center;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
}
h2 {
    text-align: center;
    background-color: rgb(95, 60, 8);
}
.imagens{
    height: 300px;
    width: 30%;
}

img{
    margin: 10px;
    border: 5px solid rgba(219, 197, 162, 0.348);
    height: 220px;
}

.antes{
    float: left ;
    width: 50%;
    height: 50px;
    
}

.depois{
    float: right;
    width: 50%;
    height: 50px;}
}