body {
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    margin:30px ;
    background: #8a5ef87b; margin: 0;
    
   
    }
    
    li{
        display: inline-block   ; text-align: center; margin-top: 20px; font-family: graffiti ; padding-left: 150px
    }
    a {
        position: relative;
        text-decoration: none;
        font-family: 'Poppins' ,sans-serif;
        color: #000000;
        font-size: 18px;
        letter-spacing: 0.5px;
        
      }
      a:after {
        content: "";
        position: absolute;
        background-color: #000000;
        height: 3px;
        width: 0px;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
      }
      a:hover {
        color: #ffffff;
      }
      a:hover:after{
        width:100%;
      }
    
    .titulo {
        background-color: #977cf766;
    }  
.menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline;
    margin-right: 15px;
}

.menu a {
    padding: 10px 20px;
    margin-right: 5px;
}

h1 {
    text-align: center;
    font-family: brush script mt;
}
.container {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between; /* Espaço entre as colunas */
}

.box, .circular, #box3 {
    width: 90%; /* Cada coluna ocupa aproximadamente metade da tela */
    padding: 20px;
    box-sizing: border-box;
    height: auto; /* Ajusta a altura automaticamente conforme o conteúdo */
    margin: 5px;
    border-radius: 15px;
}

.circular {
    border-radius: 15px;
}

.container-right {
    display: flex;
    flex-direction: column;
    width: 48%; /* Ocupa metade da tela */
}

.box {
    margin-bottom: 20px;
    background-color: rgba(137, 93, 248, 0.103);
}

#box3 {
    background-color: rgba(137, 93, 248, 0.103);
}

.letter {
    display: inline-block;
    font-size: 2em;
    transition: transform 0.3s;
}

.letter:hover {
    transform: scale(1.2);
    color: white;
}

input, textarea {
    
    background: #895ef8;
}
footer {
    padding-top: 50px;
    
    background: #895ef8;
  }

  

  .footer {
    width: 33.3%;
  }

  h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;}

  

  .footer-content ul {
    text-align: center;
  }

  .list {
    padding: 0;
}

  .list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;  }

  .list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition-duration: .5s;
  }

  .list li:hover::before {
    width: 70px;
}
  .social-icons{
    text-align: center;
    padding: 0;
  }
  .social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
  }
  .social-icons i{
    color: white;
    font-size: 25px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    color: #a1a1a1;
  }
  .social-icons i:hover{
    color: #a1a1a1;
  }
  .bottom-bar{
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
  }
  .bottom-bar,p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
text-align: center;
  }

iframe{
    width: 36%;
   height: 250px;
   
   border-radius: 13px;
}

.perfil {
    width: 150px; /* Ajuste o tamanho da imagem */
    height: 150px; /* Ajuste o tamanho da imagem */
    border-radius: 50%; /* Faz a imagem ficar em formato circular */
    object-fit: cover; /* Garante que a imagem preencha o espaço */
}
.music{
    width: 45%;
    height: 450px;
    border-radius: 16px;
    margin: 10px;
    border: #3f0000;
    background-color: #895ef8;
}

.video{
    width: 30%;
    padding: 20px;
    border: 3px solid rgba(137, 93, 248, 0.103);
    background-color: rgba(137, 93, 248, 0.103);
    border-radius: 13px;
}
.monike{
    align-items: center;
}

p{
    text-align: center;
}
img{
    border-radius: 22px;
}
.center{
    display: flex;
    justify-content: center;
    justify-items: center ;
    align-items: center;
}
h2{
    text-align: center;
}